div#main {
  font-size: 1.1em;
  margin: 1em 3em 0.2em 3em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em 2em 1em 2em;
  text-align: center;
  display: block;
  border: 1px solid black;
  display: inline-block;
}
div#bar {
  background-color: cadetblue;
  text-align: center;
  padding-bottom: 1em;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
h1.style {
  font-family: "trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  border: 3px solid red;
  padding: 0.2em;
  padding-left: 2em;
}
p.line3 {
  font-size: 1.5em;
  font-weight: 900;
}
h3.secondH {
  font-size: 2.5;
  font-style: italic;
  margin: 2em 1em 1.5em 2em;
}
.nottide {
  font-family: "Courier New", Courier, monospace;
}
.emphasized {
  font-style: italic;
}
.color {
  color: #cc0000;
}
h2.spacing {
  letter-spacing: 0.1em;
}
.date {
  text-align: right;
  color: black;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: 900;
}
p#firstID {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  color: darkblue;
}
h2#secondID {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: blueviolet;
  border: 5px dashed darkgoldenrod;
  text-align: center;
  font-style: initial;
  margin: 0 5em 0 5em;
}

img.image-style {
  display: block;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 2em;
}
.link {
  text-align: right;
  color: #cc0000;
  font-size: 1.5em;
}
ul {
  list-style-type: inside;
}
table {
  border-collapse: collapse;
  border-spacing: 1em;
  width: 50%;
  padding-bottom: 2em;
  margin: auto;
}
th,
td {
  text-align: center;
  border: 1px solid black;
  padding: 0.25em;
  text-align: left;
  background-color: lightgray;
}
