div#Main {
  width: 100%;
  border: 2px solid red;
  margin: 0 0 5em 0;
}

div.First {
  width: 68%;
  border: 1px solid black;
  float: left;
  background-color: green;
  margin-top: 12em;
}

div.Second {
  width: 29%;
  background-color: green;
  border: 1px solid black;
  float: right;
  margin-top: 12em;
}

p {
  text-align: center;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

div.header {
  width: 100%;
  position: absolute;
  background-color: #990000;
  top: 0;
  left: 0;
}

div.header h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: white;
  font-size: 2em;
  margin-left: 2em;
  margin-top: 2em;
}

div.header img {
  float: left;
  margin: 0.6em 0.6em 0.5em 0.6em;
}
div#navbar ul {
  list-style-type: none;
}

div#navbar ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.75em;
}
div#navbar {
  width: 100%;
}
div#navbar ul li {
  text-align: center;
  margin: 2em 0.5em 2em 0;
  display: inline;
  float: left;
  width: 19%;
}

li.changebackground {
  background-color: blue;
}

li.changebackground:hover {
  background-color: lightblue;
}
li.changebackground:active {
  background-color: darkblue;
}
iframe {
  width: 100%;
  float: left;
}
